<div class="body">
  <div class="mainBody">
    <div class="profilePictureContainer">
      <img class="profilePicture" src="/assets/SullivanXiongProm.jpg">
    </div>
  <div class="firstTextContainer">
      <section style="text-align: center;"><b>A quote that you like/live by?:</b><br><br></section>
      <section style="text-align: center;">"Genius is one percent inspiration, <br> ninety-nine percent perspiration."<br><br></section>
      <section style="text-align: center;"><b>-Thomas Edison</b></section>
  </div>
  <div class="SecondTextContainer">
      <p>
        <b>Who I am:</b><br><br>
          Sullivan Xiong, born and raised in the small town of Marysville, California. He moved to San Luis Obispo to pursue higher education at Cal Poly San Luis Obispo. He always had a passion in the mathematics field, and most certainly in the computer field.<br><br>
          Sullivan built his first computer at the young age of ten through online resources and parts that were donated to him from his relative. Due to the limited opportunities of going to a public high school, Sullivan couldn't get any experience in computer science because his school didn't offer it. Regardless of the situation, he took matters into his own hands as an autodidact and taught himself the programming languages: Python, C, nodeJS, HTML/CSS/JS.<br><br>
          He intends to create a start-up and become the CEO of a company, then give back to various communities, and teach the future generations the importance of an education.
      </p>
    </div>
  </div>
</div>