@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


body.aboutme {
    margin: 0;
    width: 100vw;
    height: 90vh;
    background: #f6f7fc;
}

.mainBody {
    display: grid;
    margin-top: 8vh;
    grid-template-rows: 21vh 31vh 31vh;
    grid-row-gap: 1vh;
}

.profilePictureContainer {
    display: grid;
    width: 100%;
    justify-content: center;
}

.profilePicture {
    height: 100%;
}

.firstTextContainer {

}

.secondTextContainer {

}