@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

.body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(15, 14, 17);
}

#title {
    height: 7vh;
    width: 100vw;
    color: #ffffff;
    font-size: 1.25vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.mainWrapperGrid {
    display: grid;
    grid-template-columns: 15vw 58vw 23vw;
    column-gap: 2vw;
    height: 93vh;
}

.wrapperGridLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh;
    column-gap: 1vw;
    row-gap: 2vw;
    font-size: .5vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(25, 23, 28);
    border-right: .25px rgb(218, 216, 222) solid;
}

.wrapperGridMid {

}

.wrapperGridRight {
    background: rgb(30, 32.5, 35);
    border-left: .25px rgb(218, 216, 222) solid;
}