body.prewrite {
    margin: 0;
    width:100%;
    height:100vh;
    background: url('../assets/blueBirdNaruto.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}