body.eng134 {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url('../assets/eng134BackgroundImage.jpg');
}

div.leftArtifact, div.rightArtifact, div.middleArtifact{
    background: rgba(240, 240, 240, .25);
}

div.leftArtifact:hover, div.leftArtifact:active, div.rightArtifact:hover, div.rightArtifact:active, div.middleArtifact:hover, div.middleArtifact:active {
    background: rgba(240, 240, 240, .75);
    cursor: pointer;
}


h2 {
    font-family: 'Poppins', sans-serif;
    color: #2a2929;
    background: #ffffff;
    width: 100%;
    margin: 0;
}