@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

nav-bar {
    display: block;
}

.nav-bar {
    background: rgba(0, 0, 0);
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 7vh;
}

.nav-bar a {
    line-height: 7vh;
    vertical-align: middle;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: None;
    color: #ffffff;
}

.nav-bar a:hover, a:active, #current{
    color: rgba(125, 125, 125, 0.75);
}

.nav-bar a .leftNav {
    border-right: 5px;
}

.nav-bar a .rightNav {
    border-left: 5px;
}

.nav-bar .home-img {
    width: 7vh;
    height: 6.5vh;
    margin: auto auto;
}
