@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


.nav-bar {
    background: rgba(0, 0, 0, 0.9);
    height: 60px;
}

.nav-bar .li {
    width: 14.1%;
    line-height: 80px;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    float: left;
    text-align: center;
    text-decoration: None;
    color: #ffffff;
}

.nav-bar .li:hover, .nav-bar .li:active, #current{
    color: rgba(125, 125, 125, 0.75);
}

.nav-bar .li .left {
    border-right: 5px;
}

.nav-bar .li .right {
    border-left: 5px;
}

.nav-bar .home-img {
    height: 60px;
    width: 90px;
}
