<nav class="nav-bar">
  <a id="index" routerLink="/"><img class="nav-bar home-img" src="/assets/homeImage.png" alt="homeImage"></a>
  <div class="dropDownMenu">
      <button class="dDMIcon"></button>
      <div class="otherContents">
          <a class="leftNav" id="aboutMe" routerLink="/aboutMe">About Me</a>
          <a class="leftNav" id="personalProjects" routerLink="/personalProjects">Personal Projects</a>
          <a class="leftNav" id="resume" routerLink="/resume">Resume</a>
          <a class="rightNav" id="schoolE-Portfolios" routerLink="/schoolEPortfolios">School E-Portfolios</a>
          <a class="rightNav" id="N/A" routerLink="/">N/A</a>
          <a class="rightNav" id="robinhood" routerLink="/robinhood">Robinhood</a>
      </div>
  </div>
</nav>