<!DOCTYPE html>
<html>
    <head>
        <title>Sullivan Xiong's Website</title>
        <meta char="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
        <link rel="stylesheet" type="text/css" href="/styles/eng134E-Portfolio.css">
        <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
    </head>

    <body class="eng134">
        <nav-bar></nav-bar>

        <div class="description">
            Welcome to my English-134 Portfolio. This page is a summation of the three artifacts that I chose to reflect upon. <br>
            The artifacts that I chose were Free write, Pre-write, and Peer Review workshops because these were <br>
            the things that impacted my experience the most. These three artifacts has help notice and fix <br> 
            bad habits and that has made me a more competent writer.
        </div>
        <div class="ThreeArtifacts" style="padding-top: 200px;">
            <div class="top">
                <a href="/freeWrites"><div class="leftArtifact" style="position: relative; float: left; border-radius: 10%; width: 20%; height: 300px; margin-left: 20%; font-size: 12px; text-align: center;">
                    <h2 class="lefth2" style="height: 16%; padding-top: 7%; position:absolute; top: -25px;">FREE WRITES</h2>
                    <img src="/assets/freeWrite.png" style="width: 90%; height: 92.5%; margin-top: 2.5%; border-radius: 10%;">
                </div></a>
                <a href="/prewriteWorksheets"><div class="rightArtifact" style="position: relative; float: left; border-radius: 10%; width: 20%; height: 300px; margin-left: 20%; font-size: 12px; text-align: center;">
                    <h2 class="righth2" style="height: 16%; padding-top: 7%; position:absolute; top: -25px;">PRE-WRITE WORKSHEETS</h2>
                    <img src="/assets/deepBlueSky.png" style="width: 90%; height: 92.5%; margin-top: 2.5%; border-radius: 10%;">
                </div></a>
            </div>
            <div class="bottom">
                <a href="/peerReview"><div class="middleArtifact" style="position: relative; float: left; border-radius: 10%; width: 20%; height: 300px; margin-left: 40%; margin-top: 25px; font-size: 12px; text-align: center;">
                    <h2 class="middleh2" style="height: 20%; padding-top: 5%; position:absolute; top: -25px;">PEER REVIEW WORKSHOP WORKSHEETS</h2>
                    <img src="/assets/resonate.png" style="width: 90%; height: 92.5%; margin-top: 2.5%; border-radius: 10%;">
                </div></a>
            </div>
        </div>
    </body>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/nav-bar.js"></script>
    <script src="/javascript/eng134E-Portfolio.js"></script>
</html>