<!DOCTYPE html>
<html>
    <head>
        <title>Sullivan Xiong's Website</title>
        <meta char="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
        <link rel="stylesheet" type="text/css" href="/styles/freeWrites.css">
        <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
        <link rel="stylesheet" type="text/css" href="/styles/left-nav-bar.css">
    </head>

    <body class="freeWrite">
        <nav-bar></nav-bar>

        <left-nav-bar></left-nav-bar>
    </body>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/nav-bar.js"></script>
    <script src="/javascript/left-nav-bar.js"></script>
</html>