<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
        <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>   
    </head>

    <body class="index">
        <nav-bar></nav-bar>

        <div class="name-and-description">
            <div class="name"><b>S</b>ullivan <b>X</b>iong</div>
            <div class="description">ENGINEER | ENTRPRENEUR | SCHOLAR</div>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/sullivan.xiong"><img class="social-media icon" src="assets/facebookLogo.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/powerbyrice7/"><img class="social-media icon" src="assets/instagramLogo.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/sullivan-xiong-aa069a162/"><img class="social-media icon" src="assets/linkedinLogo.png" alt="LinkedIn"></a>
        </div>
    </body>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/nav-bar.js"></script>
</html>