<!DOCTYPE html>
<html>
    <head>
        <title>Sullivan Xiong's Website</title>
        <meta char="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
        <link rel="stylesheet" type="text/css" href="/styles/personalProject.css">
        <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">        
    </head>

    <body class="pp">
        <nav-bar></nav-bar>

        <div class="wrapperGrid">
            <div>
                <div class="project">
                    <img src="/assets/youtubeLogo.png">
                    <div class="projectName">
                        <a href="/createSession">Live YouTube Video Session</a>
                        <div class="imgBar"></div>
                    </div>
                </div>
                <ul class="projectDescription">
                    <li>Allows users to watch YouTube alongside their peeers</li>
                    <li>If one user pauses, rewinds, or applies any changes on the video then every other user in that session receives the same changes</li>
                    <li>Created using node.js, express.js, and socket.io</li>
                </ul>
            </div>
            <div>
                <div class="project">
                    <img src="/assets/robinhoodLogo.png">
                    <div class="projectName">
                        <a href="/robinhood">Robinhood API</a>
                        <div class="imgBar"></div>
                    </div>
                </div>
                <ul class="projectDescription">
                    <li>Gives users information related to their currently opened positions, watchlist, and indepth view of their portfolio</li>
                    <li>The platform is does not provide financial advise, it does however provide users with data about their stocks using their profile.</li>
                    <li>Created using node.js, express.js, and MongoDB</li>
                </ul>
            </div>
        </div>
    </body>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/nav-bar.js"></script>
</html>